.post{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    margin: auto;
    border-radius: 0.8rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.headerPost{
    width: 100%;
    height: 70px;
    position: relative;
}
.headerPost .infosP{
    display : flex;
    align-items : center;
    justify-content : left;
    padding: 0.7rem 1rem;
}
.headerPost img{
    margin-right: 0.7rem;
    height: 46px;
    object-fit: cover;
    width: 46px;
    border-radius: 50%;
}

.fa-ellipsis-verticalBTN{
    position: absolute;
    right: 1.4rem;
    font-size: 1.4rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-image:  linear-gradient( 40deg,  #d008eb 30%, #0479ff 70% );}
.fa-ellipsis-verticalBTN i{
    color: rgb(255, 255, 255);
}
.textPost{
    min-height: 40px;
    text-align: left;
    padding: 0 1.3rem;
    align-items: center ;
}
.imagePost{
    width: 100%;
    height: 360px;
    padding :0  1.3rem;
    border-radius: 0.7rem;
}
.imagePost img{
    object-fit: cover;
    height: 360px;
    width: 100%;
    border-radius: 0.5rem;
}
.footerPo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fot1{
    display: flex;
    justify-content: space-between;
    padding:  0 1.3rem;
    position: relative;
    height: 30px;
    width: 100%;
}

.commentsNumber{
    top: 4px;
    position: absolute;
    right: 2rem;
    font-size: 14px;
}
.likesNmbers{
    top: 4px;
    position: absolute;
    font-size: 14px;
    left: 2rem;
}

.fot2{
    position: relative;
    display: flex;
    height: 30px;
}
.comment{
    width: 250px;
    margin: 0 2rem;

}
.like{
    margin: 0 2rem;
    width: 250px;
}
.fot2 button{
    outline: none;
    border: none;
    border-radius: 0.4rem;
}
.fot2{
    margin-bottom: 0.5rem;
}

.liked{
    background-color: rgb(72, 216, 72);
}

.createdAt{
    font-size: 12px;
    margin-left: 0.8rem;
} 

.menuPost{
    position: absolute;
    top: 82%;
    right: 2%;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem 0.3rem;
}
.row1savePost{
    color: black;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 0.4rem;
}
.row1savePost .btnSave{
    height: 40px;
    width: 40px;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
.span31{
    font-size: 15px;
}
.span32{
    font-size: 11px;
}

.infosSave{
    display: flex;
    flex-direction: column;
    padding-top: 0.65rem;
}


